* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding-left: 12.5px;
  padding-right: 12.5px;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 576px;
    padding: 0 18px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 12px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1180px;
    padding: 0 20px;
  }
}
.contact {
  display: none;
}

header {
  background-color: #0055b8;
}

.header {
  padding: 23px 20px;
  display: flex;
  justify-content: space-between;
}
.header_navigation, .header_socials {
  display: none;
}

@media screen and (min-width: 992px) {
  .header_burger_menu {
    display: none;
  }
  .header_navigation, .header_socials {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .header_navigation {
    gap: 34px;
  }
  .header_navigation_item a {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
  }
  .header_socials {
    gap: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: block;
  }
  .contact_wrapper {
    display: flex;
    justify-content: space-between;
  }
  .contact_wrapper_phone {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .contact_wrapper_phone p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #272727;
  }
  .header_burger_menu {
    display: none;
  }
  .header_navigation, .header_socials {
    display: flex;
    list-style: none;
  }
  .header_navigation {
    gap: 34px;
  }
  .header_navigation_item a {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
  }
  .header_socials {
    gap: 13px;
  }
}
.hero {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: 155% 95%;
  background-position: right top;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}
.hero_slider_navigation {
  display: flex;
  gap: 6px;
  padding-bottom: 60px;
}
.hero_slider_navigation_left, .hero_slider_navigation_right {
  background-color: #ffd600;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.hero_slider_navigation_left {
  width: 26px;
}

@media screen and (min-width: 992px) {
  .hero {
    background-size: 100% 100%;
  }
  .hero_slider_navigation {
    padding-bottom: 30px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_desc {
  font-size: 18px;
  width: 227px;
  line-height: 25px;
  text-align: center;
  color: #272727;
  margin-bottom: 21px;
}
.form_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #272727;
  margin-bottom: 25px;
}
.form_section {
  background-color: #0055b8;
}
.form_section .dental_wrapper {
  display: none;
}
.form_wrapper {
  padding: 25px 11px;
}
.form_wrapper_title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 23px;
}
.form_wrapper_input input {
  background-color: #0055b8;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 21px 20px;
  width: 100%;
  margin-bottom: 21px;
  outline: none;
  color: #fff;
}
.form_wrapper_input input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.form_wrapper_btn {
  width: 100%;
  background-color: #ffd600;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 17px 0;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  margin-bottom: 17px;
}
.form_wrapper_addtion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_wrapper_addtion_title {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.form_wrapper_addtion_checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 41px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #0055b8;
  accent-color: #0055b8;
}
.form_wrapper_addtion_checkbox:checked::before {
  content: url("../img/check.svg");
}

@media screen and (min-width: 992px) {
  .form_desc {
    display: none;
  }
  .form_title {
    display: none;
  }
  .form_section {
    margin-bottom: 40px;
    background-color: transparent;
  }
  .form_section .dental {
    display: flex;
    align-items: flex-start;
  }
  .form_section .dental_wrapper {
    display: flex;
    width: 65%;
  }
  .form_section .dental_content {
    background-color: #ffd600;
    padding: 39px 33px 31px 33px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form_section .dental_content img {
    margin-bottom: 17px;
  }
  .form_section .dental_content h3 {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 4px;
    color: #272727;
  }
  .form_section .dental_content p {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #272727;
  }
  .form_section .dental_brackets {
    background-color: #ffe040;
  }
  .form_wrapper {
    background-color: #0055b8;
    border-radius: 5px;
    position: relative;
    top: -90px;
  }
}

/*# sourceMappingURL=main.css.map */
