.contact {
  display: none;
}

header {
  background-color: $main_blue;
  // width: 1100px;
  // display: flex;
  // margin: 0 auto;
  // border-radius: 5px;
  // margin-top: 16px;
}

.header {
  padding: 23px 20px;
  display: flex;
  justify-content: space-between;
  

  &_navigation,
  &_socials {
    display: none;
  }
}

@media screen and (min-width: $large) {
  .header {

    &_burger_menu {
      display: none;
    }

    &_navigation,
    &_socials {
      display: flex;
      align-items: center;
      list-style: none;
    }

    &_navigation {
      gap: 34px;

      &_item {
        a {
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: #fff;
          text-decoration: none;
        }
      }
    }

    &_socials {
      gap: 13px;
    }
  }
}
@media screen and (min-width: $extra_large) {

  .header{
  //   width: 1100px;
  // display: flex;
  // margin: 0 auto;
  // border-radius: 5px;
  // margin-top: 16px;
  }
  .contact {
    display: block;

    &_wrapper {
      display: flex;
      justify-content: space-between;

      
      &_time{
        display: flex;
        align-items: center;
        gap: 5px;
      
      
        
        
      }

      &_desc_green{
        color: green;
      }

      &_phone {
        display: flex;
        align-items: center;
        gap: 20px;

        &_lorem a{
            text-decoration: none;
            color: black;
        }

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;

          color: #272727;
        }
      }
    }
  }
  .header {

    &_burger_menu {
      display: none;
    }

    &_navigation,
    &_socials {
      display: flex;
      list-style: none;
    }

    &_navigation {
      gap: 34px;

      &_item {
        a {
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: #fff;
          text-decoration: none;
        }
      }
    }

    &_socials {
      gap: 13px;
    }
  }
}
