.contact {
  display: none;
}

header {
  background-color: $main_blue;
}

.header {
  padding: 23px 20px;
  display: flex;
  justify-content: space-between;

  .contact {
    &_wrapper {
      &_phone {
        div {
          a {
            text-decoration: none;
            color: #272727;
          }
        }
      }
    }
  }



  &_navigation,
  &_socials {
    display: none;
  }

}

@media screen and (min-width: $medium) {
  header {
    .header {
      nav {
        display: flex;
      }

      .header_socials{
        display: flex;
        gap: 13px;
        list-style: none !important;

      }

      .header_burger_menu{
        display: none;
      }
    }
  }
}

@media screen and (min-width: $large) {
  .contact {
    display: block;

    &_wrapper {
      display: flex;
      justify-content: space-between;
      padding: 12px 0px;

      a {
        text-decoration: none;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #272727;
      }

      &_phone {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      &_time {
        display: flex;
        align-items: center;
        gap: 7px;

        .Open {

          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #00B007;

        }
      }
    }
  }

  .header {
    &_burger_menu {
      display: none;
    }

    &_navigation,
    &_socials {
      display: flex;
      align-items: center;
      list-style: none;
    }

    &_navigation {
      gap: 34px;

      &_item {
        a {
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: #fff;
          text-decoration: none;
        }
      }
    }

    &_socials {
      gap: 13px;
    }
  }
}

@media screen and (min-width: $extra_large) {
  .contact {
    display: block;

    &_wrapper {
      display: flex;
      justify-content: space-between;
      padding: 12px 0px;

      a {
        text-decoration: none;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #272727;
      }

      &_phone {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      &_time {
        display: flex;
        align-items: center;
        gap: 7px;

        .Open {

          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #00B007;

        }
      }
    }
  }

  .header {
    &_burger_menu {
      display: none;
    }

    &_navigation,
    &_socials {
      display: flex;
      list-style: none;
    }

    &_navigation {
      gap: 34px;

      &_item {
        a {
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: #fff;
          text-decoration: none;
        }
      }
    }

    &_socials {
      gap: 13px;
    }
  }
}