.hero{
    background-image: url(../img/rasm.svg);
    height: 100vh;
    background-position: right top;
    background-size: 155% 100%;
}

















@media screen and (min-width: $small){
  .hero{
     
  }
    
}