.services {
  margin-top: 80px;

  &_tooth {
    width: 200px;
    //   height: 240px;
    margin-left: 37px;
    margin-top: 25px;
    background: #ffffff;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    gap: 90px;

    &_qwerty {
      width: 66px;
      height: 240px;
      background-color: #ffffff;
      box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    &_hr {
      width: 30px;
      height: 0px;
      text-align: center;
      margin-left: 84px;
      border: 2px solid #0a60c3;
      margin-top: 13px;
    }

    &_dental {
      &_uch {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        margin: 0 auto;
        text-align: center;
        color: #0a60c3;
      }

      &_besh {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: line-through;
        margin: 0 auto;
        margin-top: 13px;
        text-align: center;
        color: rgba(0, 0, 0, 0.25);
      }
      &_img {
        padding: 28px 66px;
      }
      &_p {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        width: 79px;
        margin: 0 auto;
        margin-top: -25px;
        color: #272727;
      }
    }
  }

  &_provide {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    width: 289px;
    margin: 0 auto;
    text-align: center;
    color: #4d4d4d;
  }

  &_moon {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
  }

  &_hrone {
    width: 50px;
    color: #ffd600;
    border: 2px solid #ffd600;
    margin: 0 auto;
  }
}

@media screen and (min-width: $large) {
  .services {
    background-image: url(../img/dp.svg);
    background-repeat: no-repeat;
    width: 100%;


    &_tooth{
      &_dental{
        width: 200px;
        //   height: 240px;
        background: #ffffff;
        box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
  
        
  
      }
    }

    &_moon {
      margin-top: 1rem;
    }

    &_provide {
      width: 744px;
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      
      text-align: center;
      color: #4d4d4d;
    }
  }

  .cc{
    margin-top: 2rem;
  }
}
